<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<%- include('../includes/nav.ejs') %>

<main>
    <h1><%= pageTitle %></h1>
    <% if (products.length < 1) { %>
        <h2>No products in cart!</h2>
    <% } else { %>
        <ul id="cart">
            <% products.forEach( p => { %>
                <li class="cart-item">
                    <p><%= p.productId.title %></p>
                    <p>Quantity: <%= p.quantity %></p>
                    <p><%= p.quantity * p.productId.price %></p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p._id %>" name="productId">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <hr>
        <div class="centered">
            <a class="btn" href="/checkout">Proceed to Checkout</a>
        </div>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>