<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main>
    <h1><%= pageTitle %></h1>
    <% if (products.length < 1) { %>
    <h1>No products in cart!</h1>
    <% } else { %>
        <ul>
            <% products.forEach( p => { %>
                <li>
                    <p><%= p.title %> (<%= p.cartitem.quantity %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.id %>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>