<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main>
    <h1><%= pageTitle %></h1>
    <% if (orders.length < 1) { %>
        <h1>No orders found</h1>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
                <li>
                    <h1><%= order.id %></h1>
                    <ul>
                        <% order.products.forEach(product => { %>
                            <li><%= product.title %> (<%= product.orderitem.quantity %>)</li>

                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>