<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
<%- include('../includes/nav.ejs') %>

<main>
    <h1><%= pageTitle %></h1>
    <% if (orders.length < 1) { %>
        <h1>No orders found</h1>
    <% } else { %>
        <ul id="orders">
            <% orders.forEach(order => { %>
                <li class="order">
                    <h1><%= order._id %></h1>
                    <ul class="order-item">
                        <% order.items.forEach(product => { %>
                            <li><%= product.title %> (<%= product.quantity %>)</li>

                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>