<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
<link rel="stylesheet" href="../css/product.css">
</head>

<main>
    <h1><%= pageTitle %></h1>
    <% if (prods.length < 1) { %>
        <p>No products to display.</p>
    <% } else { %>
        <% for (let prod of prods) { %>
            <p><%= prod.title %></p>
        <% } %>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>